<br />
<br />
<br />
<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h2 class="text-primary text-center">Consulta de Clientes</h2>
        </div>
    </div>
   
</div>

<div class="p-4 border-rounded">
    <table id="tblDatos" class="table table-responsive-md table-bordered mt-2" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th style="max-width:35%;text-align:center;">NombreCliente</th>
                <th style="max-width:35%;text-align:center;">Apellido1</th>
                <th style="max-width:35%;text-align:center;">Apellido2</th>
                <th style="max-width:20%;text-align: center;">Cedula</th>
                 <th style="max-width:20%;text-align:center;">Operacion</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/clienteconsulta.js"></script>
}

