@model ProyectoCRPCC.Models.Categoria

@{
    ViewData["Title"] = "Upsert";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row mt-5">
    <div class="col-6">
        <h2 class="text-left text-dark "> Lista de Categorias </h2>
    </div>
    
        <div class="col-6 text-lg-center">
            <a class="btn btn-success text-center" 
             asp-action="Upsert"> <i class="fas fa-plus"></i> Crear Categoria </a>
        </div>
    
</div>

<br />
<div class="p-4 border-rounded">
    <table id="tblDatos" class="table table-responsive-md table-bordered mt-2" style="width:100%">
        <thead class="thead-dark">
            <tr class="table-info">
                <th style="max-width:35%;text-align:center;">Nombre</th>
                <th style="max-width: 25%;text-align: center;">Estado</th>
                <th style="max-width: 25%;text-align: center;">Operación</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/categoria.js"></script>
}






